build:
  type: text
  content: |
    #!/bin/sh


    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-ballot
deploy:
  type: text
  content: '#/bin/sh'
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Archit Girotra
lastUpdatedOn: 2022-09-06T11:19:42.422Z
